@font-face {
  font-family: 'KyoboHandwriting2020A';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

button {
  background-color: #403d39;
  color: #fffcf2;
  font-size: 16px;
  font-weight: bolder;
  width: 30vw;
  min-width: 120px;
  max-width: 350px;
  height: 40px;
  border-radius: 10px;
  margin:  13px auto;
}

button:hover {
  background-color: #eb5e28;
  cursor: pointer;
}

input {
  background-color: #403d39;
  width: 37vw;
  max-width: 400px;
  min-width: 150px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  padding: 8px;
  margin-top: 5px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */